@page "/authors"
@rendermode InteractiveServer
@using BusinessLayer
@using DataLayer
@inject LibraryContext context

<h2>Authors</h2>

<label>Author name</label>
<input class="form-control" @bind="name" />

<button class="btn btn-primary mt-2" @onclick="AddAuthor">
    Add Author
</button>

<table class="table mt-4">

    <thead>
        <tr>
            <th>Name</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var a in authors)
        {
            <tr>

                <td>@a.Name</td>

                <td>
                    <button class="btn btn-danger"
                            @onclick="() => DeleteAuthor(a.Id)">
                        Delete
                    </button>
                </td>

            </tr>
        }

    </tbody>
</table>

@code {

    List<Author> authors = new();
    string name;

    protected override void OnInitialized()
    {
        LoadAuthors();
    }

    void LoadAuthors()
    {
        authors = context.Authors.ToList();
    }

    void AddAuthor()
    {
        Author author = new()
        {
            Name = name
        };

        context.Authors.Add(author);
        context.SaveChanges();

        name = "";

        LoadAuthors();
    }

    void DeleteAuthor(int id)
    {
        var author = context.Authors.Find(id);

        if (author != null)
        {
            context.Authors.Remove(author);
            context.SaveChanges();
        }

        LoadAuthors();
    }

}