@page "/books"
@rendermode InteractiveServer
@using BusinessLayer
@using DataLayer
@inject LibraryContext context

<h2>Books</h2>

<label>Title</label>
<input class="form-control" @bind="title" />

<label>Year</label>
<input class="form-control" type="number" @bind="year" />

<label>Author</label>

<input class="form-control"
       list="authorsList"
       @bind="authorName"
       placeholder="Start typing author name" />

<datalist id="authorsList">
    @foreach (var a in authors)
    {
        <option value="@a.Name"></option>
    }
</datalist>

<button class="btn btn-primary mt-2"
        @onclick="AddBook">
    Add Book
</button>

<table class="table mt-4">

    <thead>
        <tr>
            <th>Title</th>
            <th>Year</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var b in books)
        {
            <tr>

                <td>@b.Title</td>
                <td>@b.Year</td>

                <td>
                    <button class="btn btn-danger"
                            @onclick="() => DeleteBook(b.Id)">
                        Delete
                    </button>
                </td>

            </tr>
        }

    </tbody>
</table>

@code {

    List<Book> books = new();
    List<Author> authors = new();

    string title;
    int year;
    string authorName;

    protected override void OnInitialized()
    {
        LoadBooks();
        authors = context.Authors.ToList();
    }

    void LoadBooks()
    {
        books = context.Books.ToList();
    }

    void AddBook()
    {
        var author = context.Authors
            .FirstOrDefault(a => a.Name == authorName);

        if (author == null)
            return;

        Book book = new()
        {
            Title = title,
            Year = year,
            AuthorId = author.Id
        };

        context.Books.Add(book);
        context.SaveChanges();

        LoadBooks();
    }

    void DeleteBook(int id)
    {
        var book = context.Books.Find(id);

        if (book != null)
        {
            context.Books.Remove(book);
            context.SaveChanges();
        }

        LoadBooks();
    }

}