@page "/categories"
@rendermode InteractiveServer
@using BusinessLayer
@using DataLayer
@inject LibraryContext context

<h2>Categories</h2>

<label>Category</label>

<input class="form-control"
       list="categoriesList"
       @bind="name"
       placeholder="Start typing category" />

<datalist id="categoriesList">
    @foreach (var c in categories)
    {
        <option value="@c.Name"></option>
    }
</datalist>

<button class="btn btn-primary mt-2"
        @onclick="AddCategory">
    Add Category
</button>

<table class="table mt-4">

    <thead>
        <tr>
            <th>Name</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var c in categories)
        {
            <tr>

                <td>@c.Name</td>

                <td>
                    <button class="btn btn-danger"
                            @onclick="() => DeleteCategory(c.Id)">
                        Delete
                    </button>
                </td>

            </tr>
        }

    </tbody>
</table>

@code {

    List<Category> categories = new();
    string name;

    protected override void OnInitialized()
    {
        LoadCategories();
    }

    void LoadCategories()
    {
        categories = context.Categories.ToList();
    }

    void AddCategory()
    {
        Category category = new()
        {
            Name = name
        };

        context.Categories.Add(category);
        context.SaveChanges();

        name = "";

        LoadCategories();
    }

    void DeleteCategory(int id)
    {
        var category = context.Categories.Find(id);

        if (category != null)
        {
            context.Categories.Remove(category);
            context.SaveChanges();
        }

        LoadCategories();
    }

}