@page "/members"
@rendermode InteractiveServer
@using BusinessLayer
@using DataLayer
@inject LibraryContext context

<h2>Members</h2>

<label>Name</label>
<input class="form-control" @bind="name" />

<label>Email</label>
<input class="form-control" @bind="email" />

<button class="btn btn-primary mt-2" @onclick="AddMember">
    Add Member
</button>

<table class="table mt-4">

    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>

        @foreach (var m in members)
        {
            <tr>

                <td>@m.Name</td>
                <td>@m.Email</td>

                <td>
                    <button class="btn btn-danger"
                            @onclick="() => DeleteMember(m.Id)">
                        Delete
                    </button>
                </td>

            </tr>
        }

    </tbody>
</table>

@code {

    List<Member> members = new();

    string name;
    string email;

    protected override void OnInitialized()
    {
        LoadMembers();
    }

    void LoadMembers()
    {
        members = context.Members.ToList();
    }

    void AddMember()
    {
        Member member = new()
        {
            Name = name,
            Email = email
        };

        context.Members.Add(member);
        context.SaveChanges();

        name = "";
        email = "";

        LoadMembers();
    }

    void DeleteMember(int id)
    {
        var member = context.Members.Find(id);

        if (member != null)
        {
            context.Members.Remove(member);
            context.SaveChanges();
        }

        LoadMembers();
    }

}